@import './base.css';
@import 'tailwindcss';
body {
  @apply bg-gray-100 text-gray-900;
}

@media screen and (max-width: 640px) {
  nav {
    @apply justify-center;
  }
}

a {
  @apply font-medium text-lg text-gray-700;
}

a:hover {
  @apply text-green-600;
}

a.router-link-active {
  @apply text-green-600;
}


label {
  @apply text-sm;
}

input,
textarea {
  border-radius: 8px;
}

input:focus, textarea:focus, select:focus {
  @apply border-1 border-green-600 outline-none
}